.text {
    color:red;
    background: black;
<<<<<<< HEAD

=======
    font-size:14px;
>>>>>>> 43c00a1 (changed font-size)
}
span {
<<<<<<< HEAD
    color:green;
    border:1 px solid brown;
    font-size: 12px;
}
p {
    color: blanchedalmond;
    font-size: 20px;
=======
    color:gray;
    border:1 px solid blue;
}
p {
    color:black;
>>>>>>> 0a11190 (p styles added)
}